In [52]:
import pandas as pd

### Se agrega el GDP al dataset de provincias

In [53]:
provinces_gdp = pd.read_csv("context_datasets/provinces_gdp.csv", sep = ";")

In [54]:
# se renombra la columna de la provincia para que coincida con la columna de la tabla a hacer el merge
provinces_gdp.rename(columns = {"name": "cus_province"}, inplace = True)
# para evitar problemas, se eliminan los espacios en blanco de la columna de la provincia
provinces_gdp["cus_province"] = provinces_gdp["cus_province"].str.strip()

In [55]:
provinces_gdp["cus_province"] = provinces_gdp["cus_province"].str.replace(" ", "_")

In [56]:
# se lee la base a hacer el merge
customers = pd.read_csv("clean_datasets/customers.csv", sep = ";")
# para evitar problemas, se eliminan los espacios en blanco de la columna de la provincia
customers["cus_province"] = customers["cus_province"].str.replace(" ", "_").str.strip()

In [57]:
customers

,cust_id,cripto_acc_status,cripto_acc_created_at,cust_sex,cus_province,cust_member_since,cus_country
0,192047,disabled,2021-12-16 11:31:37,male,NaN,2020-02-20 11:43:17,UNDEFINED
1,236745,disabled,2021-12-21 14:11:58,unspecified,santa_catarina,2021-03-10 20:17:28,BRA
2,146948,disabled,2021-12-22 15:56:23,unspecified,NaN,2018-09-19 13:00:32,UNDEFINED
3,139853,disabled,2021-12-12 17:42:13,unspecified,NaN,2018-06-21 23:49:51,UNDEFINED
4,230446,disabled,2021-12-14 12:18:26,unspecified,NaN,2021-01-04 13:18:16,UNDEFINED
...,...,...,...,...,...,...,...
61385,173129,investing,2021-12-27 19:12:54,male,NaN,2019-08-04 23:55:38,UNDEFINED
61386,77677,investing,2021-12-27 12:32:52,unspecified,NaN,2016-01-22 16:27:08,UNDEFINED
61387,196424,investing,2021-12-27 07:57:10,unspecified,minas_gerais,2020-04-12 15:36:16,BRA
61388,157363,investing,2021-12-26 21:29:35,male,são_paulo,2019-01-28 20:34:53,BRA
61389,59535,investing,2021-12-27 18:58:40,unspecified,são_paulo,2015-01-05 13:37:57,BRA

### Se hace un join para agregar la columna de GDP al dataset de clientes

In [58]:
## join customers and provinces_gdp on cus_province so that customers can be enriched with gdp data
customers = pd.merge(customers, provinces_gdp, on = "cus_province", how = "left")

In [59]:
customers.to_csv("clean_datasets\\customers.csv", sep = ";", index = False)